[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"

[packages]
apscheduler = "~=3.6"
mysql-connector-python = "~=8.0"
python-dotenv = "~=0.17"
requests = "~=2.28"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
black = 'black'
flake8 = 'flake8'
mypy = 'mypy'
test = 'python -m pytest -v'
